* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #EEEEEE;
    --backgroundColor: #181818;
    --editorColor: #242424;
}

body {
    background-color: var(--backgroundColor);
}

#input_box:focus,
#input_box {
    margin-left: 1vw;
    margin-top: 1vw;
    padding: 5px;
    resize: none;
    width: 49vw;
    border-radius: 5px;
    font-family: 'Courier';
    background-color: var(--editorColor);
    outline-width: 0px;
}

#run-button {
    margin-left: 1vw;
    margin-top: 1vh;
    width: 160px;
    height: 60px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: #76ABAE;

}

#output_div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 5vh;
    margin-left: 1vw;
    width: 49vw;
    height: 50px;
    border-radius: 5px;
    background-color: var(--editorColor);

    border: 0.5px solid #EEEEEE;
}
